<div id="cookieDisclaimer" class="cookieDisclaimer dn fixed bottom-0 right-0 w-100 w-auto-ns pa4 bg-navy z-999 shadow-1">
  <span id="cookieDisclaimer__close" class="cookieDisclaimer__close absolute top-2 right-2 f4 icon-close white pointer dim">x</span>
  <h2 class="mt0 f4 normal white lh-copy">Cookie Consent</h2>
  <div class="flex-l items-center-l justify-between-l">
    <p class="mr5-l white">By clicking "I Agree" and continuing to use this website, you agree to this <a class="white b" href="/privacy-policy" target="_blank" rel="noopener">Privacy Policy</a> and to have this website store cookies on your device to remember your preferences and use of this website, to help analyze website traffic, and to track advertising efforts.</p>
    <button id="cookieDisclaimer__acceptButton" class="w-100 w5-l pv3 ph4 ttu bg-white navy pointer dim">I agree</button>
  </div>
</div>
