<footer class="footer pv4 ph4-l bg-navy white">
    <div class="footer__main">
        <div id="mc-embedded-subscribe-form" class="w-100 w-50-l fl-l pv4 ph3 ph0-l pv0-l">
            <form id="footer__newsletter--form" class="relative w-100 w-75-l" action="//indielee.us5.list-manage.com/subscribe/post?u=3128754535c6160da2515fed4&id=d25cb18157" method="post" name="mc-embedded-subscribe-form" target="_blank" rel="noopener">
                <label class="db pb3 f4 white" for="mce-EMAIL">Subscribe for updates</label>
                <input id="mce-EMAIL" class="footer__emailCaptureInput underline-input input-reset db w-100 pv2 bb b--white bg-navy f3 white" name="EMAIL" type="email" placeholder="email address" required>
                <button class="footer__emailCaptureSubmit absolute right-0 bottom-0 pv2 ph4 bn bg-navy pointer dim" type="submit" aria-label="Submit email"></button>
                <div id="mce-responses">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_74559ffb3f1421aa29b64e319_3336a075e7" tabindex="-1" value=""></div>
            </form>
        </div>
        <div class="footer__nav w-100 w-50-l fl-l pv4 pv0-l">
            <div class="footer__inner w-100 w-third-l fl-l bt b--light-blue bn-l">
                <div class="footer__navHeading pv3 ph3 ph0-l pv0-l"><h3 class="ma0 f5 ttu white">Contact</h3></div>
                <div class="footer__navLinkList ph3 ph0-l pv3-l overflow-hidden" data-state="closed">
                    <div class="pt2 pb4 pt0-l pb0-l">
                        <a class="db pv1 link light-blue f6" href="/contact">Contact us</a>
                        <a class="db pv1 link light-blue f6" href="/shipping-information">Shipping information</a>
                        <a class="db pv1 link light-blue f6" href="/terms-conditions">Terms and conditions</a>
                        <a class="db pv1 link light-blue f6" href="/privacy-policy">Privacy Policy</a>
                        <a class="db pv1 link light-blue f6" href="/frequent-questions">FAQs</a>
                        <a class="db pv1 link light-blue f6" href="/stockists">Stockists</a>
                    </div>
                </div>
            </div>
            <div class="footer__inner w-100 w-third-l fl-l bt b--light-blue bn-l">
                <div class="footer__navHeading pv3 ph3 ph0-l pv0-l"><h3 class="ma0 f5 ttu white">About</h3></div>
                <div class="footer__navLinkList ph3 ph0-l pv3-l overflow-hidden" data-state="closed">
                    <div class="pt2 pb4 pt0-l pb0-l">
                        <a class="db pv1 link light-blue f6" href="/empower">Empower</a>
                        <a class="db pv1 link light-blue f6" href="//wholesale.indielee.com" target="_blank" rel="noopener">Wholesale</a>
                        <a class="db pv1 link light-blue f6" href="/upcoming-events">Upcoming events</a>
                    </div>
                </div>
            </div>
            <div class="footer__inner w-100 w-third-l fl-l bt bb b--light-blue bn-l">
                <div class="footer__navHeading pv3 ph3 ph0-l pv0-l"><h3 class="ma0 f5 ttu white">Engage</h3></div>
                <div class="footer__navLinkList ph3 ph0-l pv3-l overflow-hidden" data-state="closed">
                    <div class="pt2 pb4 pt0-l pb0-l">
                        <a class="db pv1 link light-blue f6" href="https://instagram.com/indie_lee/?hl=en" target="_blank" rel="noopener">Instagram</a>
                        <a class="db pv1 link light-blue f6" href="https://www.facebook.com/ILikeIndieLee" target="_blank" rel="noopener">Facebook</a>
                        <a class="db pv1 link light-blue f6" href="https://www.pinterest.com/indielee/" target="_blank" rel="noopener">Pinterest</a>
                        <a class="db pv1 link light-blue f6" href="https://twitter.com/indie_lee" target="_blank" rel="noopener">Twitter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cf"></div>
    </div>
    <div class="footer__copyright pt4 ph3 ph0-l light-blue f6">
        <span class="dib w-50 w-auto-l tl">&copy;2018 Indie Lee</span><a class="dib w-50 w-auto-l pl4-l tr tl-l light-blue" href="/privacy-policy">Privacy Policy</a>
    </div>
</footer>