{{#if user}}
  <a class="db pv2 link white f3 link dim" href="/account">Profile</a>
  <span id="navigation__logout" class="db pv2 link white f3 pointer link dim">Logout</span>
{{else}}
  <span id="login__toggle--mobile" class="navigation__subNavToggle db pv2 white f3 pointer link dim" data-subnav-target="login">Log In</span>
{{/if}}