<section id="articles" class="articles" data-component="articles">
    {{> articles }}
</section>
<div class="articles__loadMore w-100 flex justify-center pv4 bt b--light-grey">
    <span class="articlesAction__loadMore pv4 ph6 link ttu f5 tc white bg-navy pointer dim">Show More</span>
</div>
