<section class="resetPassword mw7 center mb5 mb0-l ph3 ph0-l">
  <h1 class="mt4 mt6-l mb4 super-clarendon navy f3 f2-l">Reset Your Password</h1>
  {{#if tokenValid}}
  <form id="resetPassword__form">
    <fieldset class="mt0 mb3 pa0 bn">
      <label class="db mb2 f7 b ttu" for="resetPassword__form--email">Email</label>
      <input id="resetPassword__form--email" class="resetPassword__form--email w-100 pa3 ba b--light-grey" type="email" placeholder="Email Address" required />
    </fieldset>
    <fieldset class="mt0 mb3 pa0 bn">
      <label class="db mb2 f7 b ttu" for="resetPassword__form--password">New Password</label>
      <input id="resetPassword__form--password" class="resetPassword__form--password w-100 pa3 ba b--light-grey" type="password" placeholder="New Password" required />
    </fieldset>
    <fieldset class="mt0 mb4 pa0 bn">
      <label class="db mb2 f7 b ttu" for="resetPassword__form--password2">Confirm Password</label>
      <input id="resetPassword__form--password2" class="resetPassword__form--password2 w-100 pa3 ba b--light-grey" type="password" placeholder="Confirm Password" required />
    </fieldset>
    <p class="resetPassword__error dn pb4 red"></p>
    <fieldset class="mh0 pa0 bn">
      <button class="w-100 w-auto-l pv3 ph5 white b ttu bg-navy bn dim pointer" type="submit" aria-label="Set New Password">Set New Password</button>
    </fieldset>
  </form>
  {{else}}
  <p class="mb4 red">Your token has expired or is invalid.</p>
  <form id="resetPassword__resendForm">
    <fieldset class="mt0 mb4 pa0 bn">
      <label class="db mb2 f7 b ttu" for="resetPassword__resendForm">Email</label>
      <input id="resetPassword__resendForm--email" class="resetPassword__resendForm--email w-100 pa3 ba b--light-grey" type="email" placeholder="Email Address" required />
    </fieldset>
    <p class="resetPassword__error dn pb4 red"></p>
    <fieldset class="mh0 pa0 bn">
      <button class="w-100 w-auto-l pv3 ph5 white b ttu bg-navy bn dim pointer" type="submit" aria-label="Send New Link">Send New Link</button>
    </fieldset>
  </form>
  {{/if}}
</section>